.container_type_question {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: .5rem;
    margin-bottom: 1rem;
}

.button {
    border: none;
    padding: .5rem 1rem;
    border-radius: .5rem;
    font-family: var(--font);
    font-size: 1.6rem;
}

.select {
    background-color: var(--blueColorB);
    color: var(--whiteColor);

}

.add_question {
    background-color: var(--blueColorB);
    color: var(--whiteColor);
}

.container_icons_question {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.button_edit:hover,
.button_delete:hover,
.button_share:hover,
.button_results:hover {
    cursor: pointer;
    border: solid 1px var(--gray);
}

.content_questions {
    max-height: 20rem;
    overflow-y: scroll;
}

.button_edit,
.button_delete,
.button_share,
.button_results {
    background-color: var(--whiteColor);
    padding: .5rem;
    border: solid 1px transparent;
    transition: border .3s ease;
}

.container_add_answer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}